language: node_js

sudo: false

branches:
  only:
    - master
    - develop

node_js:
  - '7'

install:
  - npm install npminstall && npminstall

script:
  - npm run test

after_success:
  - npm run coverage

stages:
 - deploy

jobs:
  include:
    - stage: deploy
      deploy:
        provider: npm
        email: "${MY_EMAIL}"
        api_key: "${NPM_TOKEN}"
        skip_cleanup: true
        on:
          branch: master